<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/504a36a8-5a8f-437c-8b58-eaa4db332642/resourcegroups/NetworkWatcherRG/providers/Microsoft.Web/sites/MiniProjectZensar</ResourceId>
    <ResourceGroup>NetworkWatcherRG</ResourceGroup>
    <ApiResourceId>/subscriptions/504a36a8-5a8f-437c-8b58-eaa4db332642/resourceGroups/NetworkWatcherRG/providers/Microsoft.ApiManagement/service/MiniProjectZensar/apis/MiniProjectZensar</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://miniprojectzensar.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>7eb385b6-56a0-4494-b4c0-b2685550cd74</ProjectGuid>
    <MSDeployServiceURL>miniprojectzensar.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MiniProjectZensar</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$MiniProjectZensar</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>