<!DOCTYPE html>
<html>
<head>
<h1>Pune University</h1>
<body style="background-color:mintcream; text-align:center;">
<header>



<h1>About Pune University</h1>
</header>
</head>
<p>
<br>
University of Pune was established on 10 February 1949 under the Pune University Act, passed by the Bombay legislature in 1948.[6] M. R. Jayakar became its first Vice-Chancellor. Its first office was started from the Nizam Guest House, which is part of Bhandarkar Oriental Research Institute on Law College Road. The university was operated at Nizam Guest House till 1 June 1949. Its current building originally called the Governor House. As its name suggests, it was the seasonal retreat of the Governor of Bombay.[7] B. G. Kher, Chief Minister and Education Minister of the government of Bombay, helped ensure the university received a large allocation of land for their campus. The university was allocated over 411 acres (1.66 km2).
</p>

</body>

</html>