<!DOCTYPE html>
<html>
<head>
<style>
div {
width:50%;
padding:20px;
border-left: 6px solid Aqua;
border-right: 2px solid ;
border-top: 2px solid ;
border-bottom: 2px solid ;

}



</style>
</head>
<body>



<h2>Create an Account</h2>
<div class="m">
<label for="email">Email:</label><br>
<input type="email" id="email" name="email" <br><br><br>
<label for="password">Password:</label><br><br>
<input type="password" id="password" name="password" ><br><br>
<label for="Course">Course:</label><br><br>
<select name="Course" string="Course">
<option value="1">Engineering</option>
<option value="1-10">Pharmacy</option>
<option value="php">MBA</option>
<option value="golang">BSc</option>
<option value="python">BBA</option>

</select><br><br>



<label for="tex">Tell Us a Little About Yourself:</label><br><br>



<textarea id="tex" name="tex" rows="5" cols="30">
</textarea><br><br>
<input type="checkbox" id="term" name="term" value="I agree to the">
<label for="term"> I agree to the </label><a href="#">terms of services</a><br><br>
<input type="submit" value="SignUp">
</div>

</body>
</html>